<h3>#{{ model.id }} - {{ model.title }}</h3>
<p>From: {{ model.owner.firstName }}</p>
<p>For: {{ model.person.firstName }}</p>
<p>Description: {{ model.description }}</p>
<p>Image: {{ model.image }}</p>